@{
    ViewData["Title"] = "Home Page Test";
}

<div class="text-center">
    <h1 class="display-4">Salles Web MVC App from C# Course</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
