@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["email"] = "joaopedrobdmgbr@gmail.com";
}
<h1>@ViewData["Title"]</h1>

<p>@ViewData["email"]</p>
<p>Use this page to detail your site's privacy policy.</p>


